# Build output
**/target/
**/bin/
**/build/
**/out/
**/.gradle/
ant-app/lib/
**/.idea/
**/.settings/
**/*.iml

# GitLab CI cache
# **/.gitlab-ci.yml

# Temporary files
*.log
*.tmp
*.bak
coderay-xg-results/
